body {
    font-size: 16px;
    font-family: "Eesti",system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 40rem;
    margin: 0 auto;
    padding: 3rem 0;
}

.normal {
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.separator {
    border: 1px solid;
    width: 100%;
    margin-bottom: 0.5rem;
}

li {
    padding: 0.6rem 0
}

.left-align {
    text-align: left;
}

.heading {
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 0 1rem;
    margin: 1.5rem 0;
}

button {
    color: white;
    background-color: black;
    border: 0;
    padding: 1rem;
    margin: 1.5rem auto;
    width: 40%;
    display: block;
    font-weight: bold;
}

.tiny {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    margin: 0;
}

.little {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    margin: 0;
}

i {
    color: black;
    font-size: 3rem;
}

img {
    width: 100%;
}

.social-media-icons {
    width: 16rem;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 65%;
    margin: 0 auto;
    display: flex;
    padding-top: 2rem;
}

.view-this-email {
    text-decoration: underline;
}

a {
    color: black;
}

a:visited {
    opacity: 0.9;
}

footer {
    padding-top: 3rem;
}

.title {
    padding: 0.5rem;
    background-color: #ffe500;
}